/*  your css code here. If applicable */
  body {
            margin: 0;
            background-color: #dfe6df;
            font-family: Arial, sans-serif;
        }

        .container {
            width: 1100px;
            margin: 10px auto;
        }

        .imageContainer {
            width: 100%;
            text-align: center;
            margin-bottom: 25px;
        }

        .imageContainer img {
            width: 100%;
            height: 400px;
            object-fit: cover;
        }

        table {
            width: 1100px;
            border-collapse: collapse;
            background-color: #dfe6df;
        }

        td {
            border: 1px solid #555;
            padding: 10px;
            vertical-align: top;
        }

        .sideColumn {
            width: 200px;
        }

        .middleColumn {
            width: 600px;
            text-align: center;
        }

        .sideColumn img {
            width: 100%;
            height: 180px;
            object-fit: cover;
        }

        h2 {
            margin-top: 10px;
            font-size: 24px;
        }

        h3 {
            margin-bottom: 5px;
        }

        p {
            font-size: 17px;
            line-height: 1.4;
        }

        .link {
            color: blue;
            text-decoration: underline;
        }